@layer base {
    :root {
        --love: yellow;
        --inspo: orange;
        --self: skyblue;
        --ego: red;
        --home: green;
        --earth: hsla(37, 100%, 22%, 1);
    }

    * {
        box-sizing: border-box;
    }

    body {
        margin: 0;
        padding: 0;
        font-family: Helvetica, sans-serif;
        background-color: var(--earth);
        color: var(--self);
        font-size: 3rem;
    }

    h1 {
        background: var(--home);
    }

    nav {
        background-color: var(--self);
    }
}

@layer footer {
    footer {
        display: flex;
    }
    .palette {
        height: 3rem;
        width: 3rem;
    }

    .love {
        background-color: var(--love);
    }
    .inspo {
        background-color: var(--inspo);
    }
    .self {
        background-color: var(--self);
    }
    .ego {
        background-color: var(--ego);
    }
    .home {
        background-color: var(--home);
    }
    .earth {
        background-color: var(--earth);
    }
}
